#### 1. Create a single dataframe with the concatenation of all input csv files, adding a column called country
#### 2. Extract all videos that have no tag.
#### 3. For each channel, determine the total number of views
#### 4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.
#### 5. Add a like_ratio column storing the ratio between the number of likes and of dislikes
#### 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)
#### 7. For each interval, determine the number of videos, average number of likes and of dislikes.
#### 8. For each tag, determine the number of videos
Notice that tags contains a string with several tags.

#### 9. Find the tags with the largest number of videos
#### 10. For each (tag, country) pair, compute average ratio likes/dislikes
#### 11. For each (trending_date, country) pair, the video with the largest number of views
#### 12. Divide trending_date into three columns: year, month, day
#### 13. For each (month, country) pair, the video with the largest number of views
#### 14. Read all json files with the video categories
#### 15. For each country, determine how many videos have a category that is not assignable.

### Import Pandas glob and OS libaray

In [1]:
import pandas as pd
import glob
import os

### Check Version of Pandas

In [33]:
import pandas as pd
print(pd.__version__)

2.3.3

### Load all CSV files using Pandas and display their contents.

In [28]:
CAvideos = pd.read_csv('CAvideos.csv')
DEvideos = pd.read_csv('DEvideos.csv')
FRvideos = pd.read_csv('FRvideos.csv')
GBvideos = pd.read_csv('GBvideos.csv')
INvideos = pd.read_csv('INvideos.csv')
#JPvideos = pd.read_csv('JPvideos.csv')
JPvideos = pd.read_csv('JPvideos.csv', encoding='ISO-8859-1')

KRvideos = pd.read_csv('KRvideos.csv', encoding='ISO-8859-1')
MXvideos = pd.read_csv('MXvideos.csv', encoding='ISO-8859-1')
RUvideos = pd.read_csv('RUvideos.csv', encoding='ISO-8859-1')

USvideos = pd.read_csv('USvideos.csv', encoding='ISO-8859-1')

In [10]:
CAvideos.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...

In [11]:
DEvideos.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,LgVi6y5QIjM,17.14.11,Sing zu Ende! | Gesangseinlagen vom Feinsten |...,inscope21,24,2017-11-13T17:08:49.000Z,"inscope21|""sing zu ende""|""gesangseinlagen""|""ge...",252786,35885,230,1539,https://i.ytimg.com/vi/LgVi6y5QIjM/default.jpg,False,False,False,Heute gibt es mal wieder ein neues Format... w...

In [12]:
FRvideos.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Ro6eob0LrCY,17.14.11,Malika LePen : Femme de Gauche - Trailer,Le Raptor Dissident,24,2017-11-13T17:32:55.000Z,"Raptor""|""Dissident""|""Expliquez""|""moi""|""cette""|...",212702,29282,1108,3817,https://i.ytimg.com/vi/Ro6eob0LrCY/default.jpg,False,False,False,Dimanche.\n18h30.\nSoyez présents pour la vidé...
1,Yo84eqYwP98,17.14.11,"LA PIRE PARTIE ft Le Rire Jaune, Pierre Croce,...",Le Labo,24,2017-11-12T15:00:02.000Z,[none],432721,14053,576,1161,https://i.ytimg.com/vi/Yo84eqYwP98/default.jpg,False,False,False,Le jeu de société: https://goo.gl/hhG1Ta\n\nGa...

In [13]:
GBvideos.head(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...

In [14]:
INvideos.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...
1,zUZ1z7FwLc8,17.14.11,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...",HJ NEWS,25,2017-11-13T05:43:56.000Z,"पीरियड्स के समय|""पेट पर पति करता ऐसा""|""देखकर द...",590101,735,904,0,https://i.ytimg.com/vi/zUZ1z7FwLc8/default.jpg,True,False,False,"पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं..."

In [41]:
JPvideos.head(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,5ugKfHgsmYw,18.07.02,陸自ヘリ、垂直に落下＝路上の車が撮影,時事通信映像センター,25,2018-02-06T03:04:37.000Z,"事故|""佐賀""|""佐賀県""|""ヘリコプター""|""ヘリ""|""自衛隊""|""墜落""|""落下""|""現...",188085,591,189,0,https://i.ytimg.com/vi/5ugKfHgsmYw/default.jpg,True,False,False,佐賀県神埼市の民家に墜落した陸上自衛隊のＡＨ６４Ｄ戦闘ヘリコプターが垂直に落下する様子を、近...
1,ohObafdd34Y,18.07.02,イッテQ お祭り男宮川×手越 巨大ブランコ②,神谷えりな Kamiya Erina 2,1,2018-02-06T04:01:56.000Z,[none],90929,442,88,174,https://i.ytimg.com/vi/ohObafdd34Y/default.jpg,False,False,False,NaN
2,aBr2kKAHN6M,18.07.02,Live Views of Starman,SpaceX,28,2018-02-06T21:38:22.000Z,[none],6408303,165892,2331,3006,https://i.ytimg.com/vi/aBr2kKAHN6M/default.jpg,False,False,False,NaN

In [29]:
KRvideos.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,RxGQe4EeEpA,17.14.11,ì¢ì by ë¯¼ì_ì¤ì¢ ì _ì¢ë ëµê°,ë¼í¸ë§ì½ë¦¬ì,22,2017-11-13T07:07:36.000Z,"ë¼í¸ë§|""ì¤ì¢ ì ""|""ì¢ë""|""ì¢ì""|""ì¬ë ...",156130,1422,40,272,https://i.ytimg.com/vi/RxGQe4EeEpA/default.jpg,False,False,False,ì¤ì¢ ì 'ì¢ë'ì ëµê° 'ì¢ì' ìµì´ ê...
1,hH7wVE8OlQ0,17.14.11,JSA ê·ì ë¶íêµ° ì´ê²© ë¶ì,Edward,25,2017-11-13T10:59:16.000Z,"JSA|""ê·ì""|""ë¶íêµ°""|""ì´ê²©""|""ë¶ì""|""JS...",76533,211,28,113,https://i.ytimg.com/vi/hH7wVE8OlQ0/default.jpg,False,False,False,[ì±ëAë¨ë ]å ë³ì¬ íì¬ 'ììë¶ëª ...

In [18]:
MXvideos.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,SbOwzAl9ZfQ,17.14.11,CapÃ­tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,"MasterChef Junior 2017|""TV Azteca""|""recetas""|""...",310130,4182,361,1836,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,False,False,False,Disfruta la presencia del Chef Torreblanca en ...

In [27]:
RUvideos.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,gDuslQ9avLc,17.14.11,ÐÐ°Ñ Ð°Ñ Ð¸ ÐÐ¾Ð»Ð¸Ð½Ð° ÑÑÐ°ÑÑÑ ÑÐºÐ¾...,Ð¢âÐ ÐÐÐÐÐ§,22,2017-11-13T09:09:31.000Z,"Ð·Ð°Ñ Ð°Ñ Ð¸ Ð¿Ð¾Ð»Ð¸Ð½Ð°|""ÑÑÐ¸Ð¼ÑÑ ÑÐºÐ...",62408,334,190,50,https://i.ytimg.com/vi/gDuslQ9avLc/default.jpg,False,False,False,"ÐÐ½Ð°ÐºÐ¾Ð¼ÑÑÐµÑÑ, ÑÑÐ¾ ÐÐ°Ñ Ð°Ñ Ð¸ Ð..."
1,AOCJIFEA_jE,17.14.11,ÐÐ¸ÑÐ¶Ð° ÐÐµÐ¼Ð¾Ð² #29. ÐÐ¾Ð»ÑÑÐ¾Ð¸Ì Ð²...,Druzhko Show,22,2017-11-13T17:32:11.000Z,"Ð±Ð¸ÑÐ¶Ð° Ð¼ÐµÐ¼Ð¾Ð²|""Ð»ÐµÐ² ÑÐ°Ð³Ð¸Ð½ÑÐ½""|...",330043,43841,2244,2977,https://i.ytimg.com/vi/AOCJIFEA_jE/default.jpg,False,False,False,Ð 29 Ð²ÑÐ¿ÑÑÐºÐµ ÐÑÑÐ¶ÐºÐ¾ Ð¨Ð¾Ñ Ð¡ÐµÑ...

In [20]:
USvideos.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."

### 1. Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [48]:
import pandas as pd
from pathlib import Path

files = ['CAvideos.csv','DEvideos.csv','FRvideos.csv','GBvideos.csv','INvideos.csv','JPvideos.csv']
dfs = []

for f in files:
    country = Path(f).stem.replace('videos','').upper()
    try:
        df = pd.read_csv(f, encoding='utf-8')
    except UnicodeDecodeError:
        df = pd.read_csv(f, encoding='ISO-8859-1')
    df['country'] = country
    dfs.append(df)

merged = pd.concat(dfs, ignore_index=True, sort=False)
print("Step 1: Combined shape:", merged.shape)

Step 1: Combined shape: (219236, 17)

### 2. Extract all videos that have no tag.

In [49]:
no_tag_videos = merged[merged['tags'].isna() | (merged['tags'].str.strip() == '') | (merged['tags'].str.strip() == '[]')]
print("Step 2: Videos with no tags:", len(no_tag_videos))

Step 2: Videos with no tags: 0

### 3. For each channel, determine the total number of views

In [50]:
merged['views'] = pd.to_numeric(merged['views'], errors='coerce').fillna(0)
channel_views = merged.groupby('channel_title')['views'].sum().sort_values(ascending=False).reset_index()
print("Step 3: Top channels by total views\n", channel_views.head(10))

Step 3: Top channels by total views
           channel_title       views
0            NickyJamTV  9065221555
1                 Ozuna  8477220259
2  Marvel Entertainment  7247781731
3             Bad Bunny  6989131765
4             DrakeVEVO  6973941419
5   ChildishGambinoVEVO  6924176856
6         Flow La Movie  5168434018
7            Ed Sheeran  4597115243
8               ibighit  4586419234
9      ArianaGrandeVevo  4490101937

###  4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [51]:
for col in ['comments_disabled','ratings_disabled','video_error_or_removed']:
    merged[col+'_bool'] = merged[col].astype(str).str.lower() == 'true'

excluded = merged[(merged['comments_disabled_bool']) | 
                  (merged['ratings_disabled_bool']) | 
                  (merged['video_error_or_removed_bool'])].copy()

cleaned = merged.drop(excluded.index)
print("Step 4: Excluded rows:", len(excluded), "Cleaned shape:", cleaned.shape)

Step 4: Excluded rows: 8250 Cleaned shape: (210986, 20)

### 5. Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [52]:
cleaned['likes'] = pd.to_numeric(cleaned['likes'], errors='coerce').fillna(0)
cleaned['dislikes'] = pd.to_numeric(cleaned['dislikes'], errors='coerce').fillna(0)
cleaned['like_ratio'] = cleaned['likes'] / cleaned['dislikes'].replace({0: pd.NA})

### 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [53]:
cleaned['publish_time_parsed'] = pd.to_datetime(cleaned['publish_time'], errors='coerce')
cleaned['publish_interval_10min'] = cleaned['publish_time_parsed'].dt.floor('10min')

### 7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [54]:
interval_stats = cleaned.groupby('publish_interval_10min').agg(
    videos_count=('video_id','count'),
    avg_likes=('likes','mean'),
    avg_dislikes=('dislikes','mean')
).reset_index()
print("Step 7: Interval stats sample\n", interval_stats.head())

Step 7: Interval stats sample
      publish_interval_10min  videos_count    avg_likes  avg_dislikes
0 2007-03-05 16:20:00+00:00             9   336.666667        2.0000
1 2007-06-25 06:50:00+00:00            12   579.833333       11.5000
2 2007-12-03 20:50:00+00:00            16   187.937500       15.6875
3 2008-01-07 21:20:00+00:00            10    99.900000        2.0000
4 2008-01-13 01:30:00+00:00             2  1417.000000       49.5000

### 8. For each tag, determine the number of videos

In [55]:
def split_tags(s):
    if pd.isna(s): return []
    return [t.strip().strip('"') for t in s.split('|') if t.strip()]

tags_df = cleaned[['video_id','country','tags','like_ratio']].copy()
tags_df['tags_list'] = tags_df['tags'].apply(split_tags)
tags_exploded = tags_df.explode('tags_list').rename(columns={'tags_list':'tag'})

tag_counts = tags_exploded.groupby('tag')['video_id'].count().reset_index(name='video_count')
print("Step 8: Tag counts sample\n", tag_counts.head())

Step 8: Tag counts sample
                          tag  video_count
0                                      86
1  ! Banii i-au luat mintile            2
2                         !!            3
3                       !!!!            2
4            # ssc scam 2018            5

### 9. Find the tags with the largest number of videos

In [56]:
top_tags = tag_counts.sort_values('video_count', ascending=False).head(10)
print("Step 9: Top tags\n", top_tags)

Step 9: Top tags
                tag  video_count
163698      [none]        16346
246460       funny        10285
208252      comedy         8816
6795          2018         6318
319779       music         3940
325915        news         3921
409029       video         3672
6562          2017         3301
267166       humor         3075
390623  television         3028

### 10. For each (tag, country) pair, compute average ratio likes/dislikes

In [58]:
tag_country_ratio = tags_exploded.groupby(['tag','country']).agg(
    avg_like_ratio=('like_ratio','mean'),
    videos_count=('video_id','count')
).reset_index().sort_values(['videos_count','avg_like_ratio'], ascending=[False, False])
print("Step 10: Tag-country ratio sample\n", tag_country_ratio.head())

Step 10: Tag-country ratio sample
            tag country avg_like_ratio  videos_count
209608  [none]      FR      32.958381          5074
319456   funny      CA      54.154043          3394
209611  [none]      JP      40.541192          2958
209607  [none]      DE      31.336186          2868
319459   funny      GB       46.34051          2570

### 11. For each (trending_date, country) pair, the video with the largest number of views

In [ ]:
top_per_trending_country = merged.sort_values(['country','trending_date','views'], ascending=[True,True,False]) \
                                 .groupby(['trending_date','country']).first().reset_index()
print("Step 11: Top video per trending_date-country\n", top_per_trending_country[['trending_date','country','video_id','views','title']].head())

In [59]:
top_per_trending_country = merged.sort_values(['country','trending_date','views'], ascending=[True,True,False]) \
                                 .groupby(['trending_date','country']).first().reset_index()
print("Step 11: Top video per trending_date-country\n", top_per_trending_country[['trending_date','country','video_id','views','title']].head())

Step 11: Top video per trending_date-country
   trending_date country     video_id      views  \
0      17.01.12      CA  6ZfuNTqbHE8   56367282
1      17.01.12      DE  6ZfuNTqbHE8   56367282
2      17.01.12      FR  3VbHg5fqBYw    7281189
3      17.01.12      GB  TyHvyGVs42U  143408235
4      17.01.12      IN  6ZfuNTqbHE8   56367282

                                               title
0  Marvel Studios' Avengers: Infinity War Officia...
1  Marvel Studios' Avengers: Infinity War Officia...
2               Avengers: Infinity War Trailer Tease
3          Luis Fonsi, Demi Lovato - Échame La Culpa
4  Marvel Studios' Avengers: Infinity War Officia...

### 12. Divide trending_date into three columns: year, month, day

In [60]:
def split_trending_date(s):
    try:
        yy, dd, mm = map(int, s.split('.'))
        yy += 2000 if yy < 100 else 0
        return pd.Series([yy, mm, dd])
    except:
        return pd.Series([pd.NA, pd.NA, pd.NA])

merged[['trending_year','trending_month','trending_day']] = merged['trending_date'].apply(split_trending_date)
print("Step 12: Split trending_date sample\n", merged[['trending_date','trending_year','trending_month','trending_day']].head())

Step 12: Split trending_date sample
   trending_date  trending_year  trending_month  trending_day
0      17.14.11           2017              11            14
1      17.14.11           2017              11            14
2      17.14.11           2017              11            14
3      17.14.11           2017              11            14
4      17.14.11           2017              11            14

### 13. For each (month, country) pair, the video with the largest number of views

In [61]:
top_per_month_country = merged.sort_values(['trending_month','country','views'], ascending=[True,True,False]) \
                              .groupby(['trending_month','country']).first().reset_index()
print("Step 13: Top video per month-country\n", top_per_month_country[['trending_month','country','video_id','views','title']].head())

Step 13: Top video per month-country
    trending_month country     video_id     views  \
0               1      CA  LsoLEjrDogU  43067983
1               1      DE  LsoLEjrDogU  37728802
2               1      FR  LsoLEjrDogU  37728802
3               1      GB  LsoLEjrDogU  90598955
4               1      IN  dfnCAmr569k  42019590

                                               title
0  Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...
1  Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...
2  Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...
3  Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...
4     Taylor Swift - End Game ft. Ed Sheeran, Future

### 14. Read all json files with the video categories

In [62]:
import glob, json

json_files = glob.glob("*.json")
categories_mapping = {}
for jf in json_files:
    with open(jf,'r', encoding='utf-8') as f:
        data = json.load(f)
    mapping = {str(item['id']): item['snippet']['title'] for item in data.get('items', []) if 'id' in item}
    country_code = Path(jf).stem.split('_')[0].upper()
    categories_mapping[country_code] = mapping

### 15. For each country, determine how many videos have a category that is not assignable.

In [63]:
not_assignable_counts = []
for country in merged['country'].unique():
    df_c = merged[merged['country'] == country]
    mapping = categories_mapping.get(country, {})
    if mapping:
        missing = ~df_c['category_id'].astype(str).isin(mapping.keys())
        missing_count = missing.sum()
    else:
        missing_count = len(df_c)
    not_assignable_counts.append({
        'country': country,
        'total_videos': len(df_c),
        'not_assignable_count': missing_count
    })

not_assignable_df = pd.DataFrame(not_assignable_counts)
print("Step 15: Non-assignable categories per country\n", not_assignable_df)

Step 15: Non-assignable categories per country
   country  total_videos  not_assignable_count
0      CA         40881                    74
1      DE         40840                   256
2      FR         40724                   114
3      GB         38916                    90
4      IN         37352                   105
5      JP         20523                    18